@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

@media (max-width: 1064px) {
  .flex-wrap-mobile {
    flex-wrap : wrap;
  }
}

@media (min-width: 768px) {
	.phone {
		right:10px;
	    position: relative;
	    display:block;
	    max-height: 90%;
	    bottom: 0;
	}
	.phone img {
		position: absolute;
	}
}
